<h1>All articles</h1>

<ul>
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>
<br>
<%= link_to "New Article", new_article_path %>